<Header id="home" class="section">
    <div class="container-fuild">
        <div class="container">

            <div class="container-fluid">
                <div class="row">
                    <div id="flash" class="col-xs-12 col-sm-12 col-md-12">
                        <% flash.each do |type, message| -%>
                            <%= flash_message(message,type).html_safe %>
                                <%end -%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 logo">
                    <%=image_tag('logo.svg', size: '50x64', class: '')%>
                </div>

                <div class="col-md-12">
                    <h1>A nova forma de pedir medicamentos chegou.</h1>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="left mr32">
                        <%= link_to  "https://play.google.com/store/apps/details?id=br.com.infog2.thefarma", target: '_blank' do %>
                            <%=image_tag('btn-googleplay.png', class: 'btn-store')%>
                        <%-end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Header>

<Section id="mockup" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="content-description center">
                    <h1>App criado pensando em você.</h1>
                    <p>
                        Nos momentos difíceis é impossível fazer pesquisa de preços e o quanto tempo é fundamental, por isso criamos o thefarma.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 text-center">
                <div class="device-container">
                    <div class="device-mockup">
                        <div class="device">
                            <div class="screen">
                                <%= image_tag('mockup-bg.png') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>

<Section id="benefits" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Usando o app você possui vantagens.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2 class="title">Sem Filas</h2>
                <p class="description">
                    Compre e recebe em casa, ou se preferir busque na farmácia mais próxima e receba direto no caixa.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2 class="title">Notificação</h2>
                <p class="description">
                    Sejá notificado através do app assim que seu medicamento tiver saindo da farmacia.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2 class="title">Economia</h2>
                <p class="description">
                    Buscamos as melhores ofertas, além de mostrar alternativas de medicamentos com mesmo princípio ativo.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2 class="title">Histórico</h2>
                <p class="description">
                    Tenha em mãos um histórico com todos os medicamentos adquiridos.
                </p>
            </div>
        </div>
    </div>
</Section>

<Section id="support" class="section">
    <div class="container">
        <div class="row vcenter flex-wrap">
            <div class="col-xs-12 col-sm-6 col-md-6 mb-xs-50 text-center content-logo">
                <%= image_tag('logo-inovativa.svg', class: '')%>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 text-center content-logo">
                <%= image_tag('logo-fapepi.png', class: '')%>
            </div>
        </div>
    </div>
</Section>

<Section id="form_pharmacy" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="content-description">
                    <h2>Eu tenho uma farmácia e quero fazer parte.</h2>
                    <button class="btn btn-transparent show-modal-contact" type="button">
                        Quero ser theFarma
                    </button>
                </div>
            </div>
        </div>
    </div>
</Section>

<footer id="footer" class="section">
    <div class="container">
        <div class="left">
            <strong class="copyright">theFarma &copy;
                <%= Date.today.year%>
            </strong>
        </div>

        <div class="right">
                <%= link_to  "https://pt-br.facebook.com/thefarmaapp/", target: '_blank', class: 'left mr16' do %>
                    <%= image_tag('facebook.svg', size: '32x32', class: '') %>
                <%-end%>

                <%= link_to  "https://www.instagram.com/thefarma/", target: '_blank', class: 'left' do %>
                    <%= image_tag('instagram.svg', size: '32x32', class: '') %>
                <%-end%>
        </div>
    </div>
</footer>


<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="content">
                        <h1>Quero ser theFarma.</h1>
                        <h4>Preencha os dados</h4>
                        <%=form_for :mensagem, url:"/home/create",html: {role: "form", class: "form"} do |f| %>

                            <div class="form-group pmd-textfield">
                                <label class="control-label">Qual o seu nome?</label>
                                <%= f.text_field :nome, class: "form-control", required: true %>
                            </div>

                            <div class="form-group pmd-textfield">
                                <label class="control-label">CNPJ da sua farmácia</label>
                                <%= f.text_field :cnpj, class: "form-control cnpj", required: true %>
                            </div>

                            <div class="form-group pmd-textfield">
                                <label class="control-label">Telefone</label>
                                <%= f.text_field :telefone, class: "form-control celular", required: true %>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button class="btn btn-transparent-black btn-block hide-modal-contact" type="button">Cancelar</button>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button class="btn btn-gradient btn-block" type="submit">Enviar</button>
                                </div>
                            </div>
                            <%-end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('button.show-modal-contact').on('click', function () {
            $('#modal-contact').modal({ 'show': true });
        });

        $('button.hide-modal-contact').on('click', function () {
            $('#modal-contact').modal('hide');
        });
    });
</script>