<% content_for :stylesheets do %>
<%= stylesheet_link_tag "pages.css" %>
<% end %>


<!-- preloader -->
<div class="preloader">
    <div class="status">
        <%= image_tag("logo.png", alt: "TheFarma") %>
    </div>
</div>

<!-- Header -->
<header>
    <nav class="navbar navbar-custom navbar-top navbar-fixed-top sticky-navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- LOGO -->
                <a class="navbar-brand nav-logo page-scroll" href="/">
                    <%= image_tag("logo.png", alt: "TheFarma") %>
                </a>
            </div>
            <%= yield :breadcrumb %>
        </div><!-- /.container -->
    </nav>
</header><!-- Header end -->

<section id="page" style="padding-top: 100px;">
    <div class="container">
        <p><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">POLITICA DE PRIVACIDADE</font></font></p>

        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">Garantir sua privacidade é um compromisso do TheFarma. Por isso, esta política de privacidade foi elaborada para explicar de maneira detalhada como as suas informações serão protegidas e como você pode nos ajudar nessa tarefa.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">A qualquer momento e sempre visando ao aprimoramento dos SERVIÇOS, o TheFarma poderá atualizar a Política de Privacidade. A Política de Privacidade poderá ser verificada sempre em https://thefarma.com.br/politica_de_privacidade.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">1. Ao continuar utilizando os SERVIÇOS, o USUÁRIO aceita os termos e condições de uso do SITE, bem como a Política de Privacidade. </font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">2. Para cadastro no TheFarma, o USUÁRIO deverá informar: nome completo, endereço eletrônico, senha de acesso, número de telefone e/ou informações do cartão de crédito.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">3. É importante que o USUÁRIO mantenha suas informações pessoais atualizadas para que os dados dos sistemas do TheFarma sejam sempre verdadeiros e possamos contatá-lo efetivamente. O TheFarma não se responsabiliza pela veracidade dos dados fornecidos por seus USUÁRIOS, sendo tal veracidade de única e exclusiva responsabilidade destes.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">4. A conta pessoal criada no TheFarma contém informações pessoais e por isso é protegida por uma senha para garantir sua privacidade e segurança. Para impedir o acesso não autorizado à sua conta e às suas informações pessoais, escolha sua senha de forma adequada evitando utilizar sua própria data de nascimento, casamento ou similares que possam ser consideradas como senhas óbvias. O usuário é o único responsável pela guarda de sua senha de acesso ao APLICATIVO. Em caso de esquecimento, o usuário deverá solicitar uma nova senha por meio do APLICATIVO.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">5. Com o único intuito de prestar o melhor serviço possível ao USUÁRIO, para garantir o bom funcionamento do APLICATIVO e nos limites permitidos pela legislação em vigor, o TheFarma coletará, armazenará e poderá transmitir ou disponibilizar a quaisquer terceiros os dados e informações fornecidos pelo USUÁRIO ao efetuar o cadastro no SITE, não se limitando às informações requeridas para cadastro no APLICATIVO ou no SITE.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">5.1. O TheFarma poderá utilizar seus dados pessoais da seguinte maneira: </font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">Quando for realizada uma transação por meio do APLICATIVO, o TheFarma poderá utilizar informações referentes a essa transação e compartilhá-la com terceiros para que a transação seja bem sucedida (ex.: gateways de pagamento, instituições bancárias, dentre outros);</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">Para oferta de serviços, produtos ou notificações referentes ao APLICATIVO ou seus parceiros;</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">Para geração de informações agregadas, desenvolvimento de estudos e pesquisas referentes ao uso do APLICATIVO;</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">Dados pessoais, anônimos ou agregados poderão ser compartilhados com terceiros parceiros do TheFarma para fins do bom funcionamento do APLICATIVO, tais como instituições bancárias que viabilizam as transações realizadas pelo APLICATIVO, servidores, redes sociais, dentre outros.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">4.2. O TheFarma também poderá divulgar suas informações pessoais para:</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">cumprir uma ordem judicial, intimação, mandado de busca ou outro processo legal, de acordo com os limites permitidos pela legislação em vigor; </font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">cumprir requisitos legais, regulamentares ou administrativas de quaisquer autoridades governamentais; </font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">proteger e defender o TheFarma, suas subsidiárias e/ou afiliadas, bem como seus administradores, diretores, funcionários, advogados, agentes, contratados e parceiros, em conexão com qualquer ação legal, reclamação ou disputa; </font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">fazer cumprir os Termos de Uso do TheFarma;</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">para evitar dano físico iminente; </font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"> <font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">E, no caso em que suas ações em nosso APLICATIVO violarem qualquer lei, os nossos Termos de Serviço, ou qualquer das nossas diretrizes de uso para produtos ou serviços fornecidos pelo TheFarma. </font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">6. O TheFarma utilizará os dados fornecidos por seus USUÁRIOS para: </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(i) aprimoramento dos SERVIÇOS; </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(ii) pesquisa interna de desenvolvimento, </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(iii) elaboração de dados estatísticos; </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(iv) análise do comportamento de USUÁRIOS em geral e outras medições importantes para que sempre possa prestar um serviço de qualidade; </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(v) desenvolver dados anônimos e agregados, os quais poderão ser utilizados para fins econômicos.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">7. Por meio das informações de contato do USUÁRIO, o TheFarma poderá enviar: </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(i) ações de marketing; </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(ii) novidades dos SERVIÇOS; </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(iii) promoções, </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(iv) eventos; e, </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">(v) outras comunicações que entenderem necessárias. O USUÁRIO poderá cancelar o recebimento de notificações a qualquer momento por meio do endereço de e-mail para contato: thefarmaapp@gmail.com</font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">8. O TheFarma não se responsabiliza pelo uso indevido, por terceiros ou por outro USUÁRIO, das informações fornecidas por um USUÁRIO por meio do SITE. </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">O TheFarma, no entanto, implementa medidas que considera apropriadas para salvaguardar e ajudar a evitar o acesso, alteração, divulgação ou destruição sem autorização das informações coletadas. Caso o USUÁRIO considere ter suas informações utilizadas indevidamente por terceiros ou outro USUÁRIO e em desacordo com o presente TERMO, este deverá entrar em contato com o TheFarma por meio dos seguintes canais de comunicação: thefarmaapp@gmail.com ou (86)3222-2222. </font></font></p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">O TheFarma analisará a reclamação e tomará as medidas que considerar cabíveis.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">9. A cada vez que o USUÁRIO realizar transações financeiras por meio do SITE, o TheFarma coletará todas as informações pertinentes e poderá divulgá-las para fins específicos da utilização do SITE. O USUÁRIO desde já autoriza o TheFarma a comunicar os provedores de serviços de pagamento terceirizados, caso o TheFarma tenha razões para crer, a seu exclusivo critério, que o USUÁRIO esteja envolvido em qualquer atividade considerada ilegal, que viole os direitos de qualquer pessoa, que viole quaisquer das cláusulas do presente TERMO ou que leve à suspensão ou encerramento de acesso ao SITE.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">10. O TheFarma utiliza as mais atuais tecnologias da indústria de criptografia para receber, armazenar e transferir os dados de seus USUÁRIOS. Apesar disso, não é possível garantir a segurança de qualquer transmissão de dados pela internet. Por esta razão, o TheFarma não será responsável por quaisquer perdas de dados do USUÁRIO, inclusive decorrentes de caso fortuito, força maior, ocorridas em virtude de invasões ao SITE e quebra de segurança por parte de terceiros não autorizados. O TheFarma empenhará seus melhores esforços para garantir que informações pessoais não sejam acessadas por terceiros de maneira indevida e estranha a esta Política de Privacidade.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">11. A transmissão de dados e informações por meio do APLICATIVO é feita pelo usuário por sua própria conta e risco. O usuário declara estar ciente dos riscos de uso de qualquer aplicação ou sistema computacional ou similar com acesso à internet.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">12. Qualquer informação coletada pelo TheFarma, incluindo dados pessoais, será armazenada em um servidor externo, de acesso restrito, provido por terceiros contratados pelo TheFarma para realizar referido armazenamento. O TheFarma e qualquer terceiro envolvido neste processo implementarão tecnologias e políticas de segurança para salvaguardar a privacidade de seus dados pessoais contra acesso não autorizado ou a utilização indevida.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">13. O TheFarma pode alterar a presente Política de Privacidade de tempos em tempos. O usuário será notificado no caso de serem realizadas alterações significativas na maneira como o TheFarma utiliza informações pessoais de seus usuários. Os usuários estão vinculados a quaisquer alterações à Política de Privacidade, após terem sido publicadas e o usuário permanecer utilizando os serviços fornecidos pelo TheFarma. Quaisquer problemas, sugestões ou dúvidas deverão ser comunicadas o TheFarma por meio dos seguintes canais:</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;</p>
        
        <p align="\&quot;justify\&quot;"><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">Santos, Sousa, Carvalho & Cardoso Tecnologia Ltda.</font></font></p>
        
        <p align="\&quot;justify\&quot;">&nbsp;<font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">Endereço: R Magalhaes Filho (Zona Norte), 1350, Edif Gedai, Marques, Teresina, PI, CEP 64002-450, Brasil. Telefone:+55 (86) 98146-0597 (suporte – sac@infog2.com.br). Atendimento ao cliente: Segunda à sexta-feira, das 8h às 12h e 14h às 18h, Sábado das 8h às 12h e - mail: </font></font><font face="\&quot;Arial," serif=""><font size="\&quot;4\&quot;">thefarmaapp@gmail.com</font></font></p>
    </div>
</section>

<% content_for :scripts do %>
<%= javascript_include_tag "vendor/pace/pace.min.js" %>
<%= javascript_include_tag "pages.js" %>
<% end %>