<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="resource-type" content="document" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="general" />
    <meta name="language" content="pt-br" />
    <meta name="robots" content="index,follow" />
    <title>TheFarma</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :stylesheets %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
</head>

<body>
    <%= yield.force_encoding(Encoding::UTF_8) %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': true %>
    <%= yield :scripts %>
</body>

</html>